{% extends 'app/base.html' %}
{% load static %}

{% block title %} About
{% endblock title %}



{% block main-content %} 

<!--banner slider -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/img/banner1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner2.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner3.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner4.png' %}" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--banner slider -->

<div class="container mt-sm-3">
    <br>
    <h2 class=" text-center">  About Us: <hr> <strong> Welcome to Nexwod Technologies </strong> <br>
      <small> - Empowering timeless innovation, Delivering Excellence ...</small><br></h2>
    <br>
    <div>
        <p class="text-center">
           

Welcome to Winners Exclusive World, your one-stop destination for stylish and affordable clothing. We are a small-scale, family-owned e-commerce clothing business with a passion for fashion and a commitment to providing our customers with the best shopping experience possible.
    
<br>
    <h2 class=" text-center">  Our Story</h2><hr>
    <br>
    <div>
        <p class="text-center">



Established in 2022, We're Two Years Strong in the World of Digital Innovation <br>

At Nexwod Technologies, we are more than just an online store; we are your partners in the world of digital creativity and innovation. With a journey that began just two years ago, we've rapidly grown into a one-stop destination for all your computer-related services and digital print needs.

<br>
  <h2 class=" text-center">  Our Services</h2>
</h2><hr><br>

<strong>Web Design and Development</strong>: Looking to establish a strong online presence? Our team of skilled web designers and developers can create stunning, user-friendly websites tailored to your brand. Whether it's a sleek portfolio site or a complex e-commerce platform, we've got you covered.

<br><br><strong>Graphic Design</strong>: Creativity knows no bounds here. Our graphic design experts transform your ideas into captivating visuals. From logos to brochures and everything in between, we make sure your brand stands out.

<br><br><strong>Printing Services</strong>: When it comes to physical prints, quality matters. We specialize in high-quality printing services, including flex banners and picture frames. Your marketing materials and cherished memories deserve nothing but the best.

<br><br><h2 class=" text-center">  Why Choose Us?</h2><hr><br>

1. Experience: With two years of experience under our belt, we've honed our skills and processes to deliver top-notch services. <br>

2. Talented Team: Our team is not just skilled; they're passionate about what they do. We pour creativity and expertise into every project. <br>

3. Affordability: Quality services shouldn't break the bank. We offer competitive prices without compromising on quality. <br>

4. Customer-Centric Approach: Your satisfaction is our priority. We work closely with you to understand your needs and deliver tailored solutions. <br>

<br><h2 class=" text-center">  How It works</h2><hr><br>

1. Browse: Explore our wide range of services and products. <br>

2. Customize: Contact us to discuss your project requirements and get a personalized quote. <br>

3. Create: Sit back while our experts bring your vision to life. <br>

4. Enjoy: Whether it's a stunning website, captivating graphics, or beautifully printed materials, enjoy the results of our hard work. <br>

<br><h2 class=" text-center">  Contact Us</h2><hr><br>


Ready to embark on a creative journey with us? Reach out to our team today to discuss your project. We're here to turn your ideas into reality. <br>
 Phone: 0902 1865 092 <br>

Email: happinessjoseph065@gmail.com <br>

Address: [Your Physical Address]: Izzuna , Second Market, Ifite, Awka Nigeria <br>
Stay updated with our latest projects, tips, and special offers by following us on social media:
<br>
Thank you for choosing Nexwod Technologies. We look forward to collaborating with you to achieve digital excellence.


<!--

When you shop at [Your Business Name], you can expect:


- A seamless online shopping experience.
- Friendly and responsive customer support.
- Trendy and timeless clothing options.
- Competitive prices.
- Fast and reliable shipping.

**Join Our Community**

We invite you to be part of the [Your Business Name] community. Follow us on social media to stay updated on the latest arrivals, style tips, and exclusive promotions. We love to see how you style our clothing, so don't forget to tag us in your photos!

Thank you for choosing [Your Business Name] for your fashion needs. We're excited to be a part of your style journey, and we look forward to helping you look and feel your best every day.

Happy Shopping!

[Your Business Name] Team
        </p>
    </div>
</div>
-->
{% endblock main-content %}